@import "_variables";
@import "_elements";
@import url("https://fonts.googleapis.com/css2?family=Yantramanav:wght@300;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  width: inherit;
  height: 100vh;
  display: flex;
  font-family: "Yantramanav", sans-serif;
  color: $brown;
  font-size: 1.45em;
  font-weight: 400;
}

.side-column {
  width: 32%;
  height: 100%;
  display: flex;
  flex-direction: column;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header,
  .footer {
    height: 10%;
  }
  .logo > img {
    transform: scale(0.67);
  }
  section {
    height: 80%;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    div {
      border-bottom: 1px solid $brown;
      transition: color 0.3s linear, background-color 0.3s linear;
      &:hover {
        background-color: $brown;
        color: white;
      }
    }
  }
  .menu {
    transition: color 0.3s linear, background-color 0.3s linear;
    &:hover {
      background-color: $brown;
      color: white;
    }
  }
}

.column-center {
  width: 36%;
  border-left: 1px solid $brown;
  border-right: 1px solid $brown;
  .header,
  .footer {
    height: 10%;
  }
  .album-img {
    width: 100%;
    height: 80%;
    border-bottom: 1px solid $brown;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1462331940025-496dfbfc7564?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=827&q=80");
    background-size: cover;
  }
  .footer {
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
    p {
      animation: scrollText 10s linear infinite;
    }
  }
}

.header {
  border-bottom: 1px solid $brown;
}

@keyframes scrollText {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
